/* Asegúrate de que html, body y #root ocupen el 100% del alto */
html, body, #root {

  margin: 0;
  padding: 0;
}

/* Contenedor principal de la app */
/* DashboardLayout.css */

.app-layout {
  display: flex;
  flex-direction: column;

  overflow: hidden; /* Para ocupar todo el alto de la pantalla si lo deseas */
}

.page-layout {
  display: flex;
  width: 100%;
 ;
}

/* Header de la app (parte superior fija) */
.header-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  padding: 0 1rem;
  height: 12vh;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-app .logo img {
  height: 6rem;
}

/* Menú de usuario en el header */
.header-app .user-menu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-app .user-menu .user-details {
  display: flex;
  align-items: center;
}

.header-app .user-menu .user-details span {
  margin: 0 0.5rem;
}


/* Sidebar: contenedor principal fijo, con 80vh y anclado al fondo */
.sidebar {
  position: fixed;
  bottom: 0;               /* Se ancla a la parte inferior */
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  background-color: #233255;
  color: #fff;
  overflow-x: hidden;
  border: 1px solid #F6AD2B;
  height: 85vh;            /* Solo 80% del alto del viewport */
  box-sizing: border-box;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

/* Estado expandido */
.sidebar.expanded {
  width: 14rem;
}

/* Estado colapsado */
.sidebar.collapsed {
  width: 4rem;
}

/* Área superior (header) que sirve para togglear */
.sidebar-toggle-area {
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid #444;
  text-align: center;
}

/* Área del menú: ocupa el espacio central del sidebar y permite scroll vertical */
.menu-content {
  flex-grow: 1;
  overflow-y: hidden;
  padding: 1rem 0;
}

.menu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-content li a {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu-content li a.active {
  color: #F6AD2B;
}

.menu-content li a:hover {
  background: #F6AD2B;
  color: #233255;
}

.menu-content li a i {
  margin-right: 0.75rem;
  font-size: 1.2rem;
}

/* Footer: zona inferior fija dentro del sidebar */
.sidebar-footer {
  border-top: 1px solid #444;
  padding: 0.5rem 0;
  text-align: center;
}

.sidebar-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-footer li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar-footer li a.active,
.sidebar-footer li a:hover {
  background: #F6AD2B;
  color: #233255;
}

.sidebar-footer li a i {
  font-size: 1.2rem;
}

/* Contenido principal, adaptándose al espacio restante */
.main-content {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 4rem;
  overflow-y: auto;
  height: 100vh;
  border-right: 1px solid #7FBDE44D;
  width: 100%;
}


/* Contenedor general del Sidebar derecho */
.right-sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
}


/* Mini tareas */
.mini-tasks-section {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  height: 60%
}

.tasks-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.tasks-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  margin-bottom: 5px;
}

.task-day {
  display: block;
  font-weight: bold;
  color: #0ea5e9;
}

.task-desc {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.p-dropdown-panel {
  height: auto !important;
}

