html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    height: 100vh; /* Altura completa de la ventana */
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: #fff;
  }
  
  .user-avatar {
    margin-bottom: 0.5rem;
  }
  
  .menu-content {
    flex: 1;
    overflow-y: auto;
  }
  .user-info p {
    margin: 0;
    font-weight: bold;
    color: #333333;
  }
  
  .main-content {
    flex-grow: 1; /* Ocupa el resto del espacio */
    padding: 1rem; /* Espaciado interno opcional */
    overflow-y: auto; /* Permitir desplazamiento vertical si el contenido es más grande que la pantalla */
  }
   
