
.button-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}

.p-button{
    margin-left: 1rem;
    text-decoration: none;
    background: #233255CC;
    color: white;
    border: none;
}

.p-component {
    font-family: Archivo, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.p-button:hover{
    background: #233255;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #2332551A;
    align-items: center;
    padding: 0.8rem 1.5rem;
    width: 100%;
}

.searcher {
    width: 60%;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.search-bar{
    padding: 0.7rem;
    width: 80%;
    margin-left: 2px;
}

h3 {
    font-family: Archivo, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #233255CC;
}

p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 2%;
    text-transform: uppercase;  
    color: #233255CC;
    margin-bottom: 0.6rem;

}

.after-p {
    font-family: Inter, sans-serif;
    font-weight: 550;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: #233255;
    margin-top: 0.3rem;
}

.btn-section {
    margin-top: 2rem;
}

.btn-outline {

    color: #233255;
    background-color: white;
    border:none;    

}

.btn-outline:hover{

    cursor: pointer;
    color: #5e73a5;
    border: none;
}

.more{
    border: 1px solid #233255;
    background-color: white;
    color: #233255;
}

.card{
    display: flex;
    flex-direction: column;
    width: 96%;

}

.stepper{
    height: 12vh;
}

h4 {
    font-family: Archivo,sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 100%;
    letter-spacing: 4%;
    text-transform: uppercase;
    color: #233255E5;
}

.form-alumno {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    height: 60vh;
}
.form-alumno-edit{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    height: 60vh;
}

.form-repre {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    height: 80vh;
}

label {
    font-family: Archivo, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #233255;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
}


.form-columnone{
    display: flex;
    flex-direction: column;
    width: 52%;
    height: 90vh;
    justify-content: flex-start;
    margin-right: 6%;
}

.group{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-around;

}
.group-label {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-around;
}
.group-item{
    display: flex;
    flex-direction:column;
    width: 48%;
}


.dropdown {
    width: 20%;
    margin-right: 1rem;
}

.dropdown-phone{
    width: 30%;
    margin-right: 1rem;
}
.input-ced {
    width: 100%;
}

.p-field-radiobutton{
    width: 25%;
}



.input-radio-button {
    width: 70%;
    margin-left: 1rem;
}

.input-radio-button-t{
    width: 65%;
}

.form-columntwo {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.btn-next {
    background-color: #EFF7FC;
    color: #4F5B77;
    border: 0.5px solid #4F5B77;
    font-family: Archivo, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    width: 40%;
    border-radius: 6px;
    margin-top: 5rem;
    align-self: flex-end;
}

.btn-next:hover {
    background-color: #4F5B77;
    color: white;
    cursor: pointer;
}

.page-section {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-items: baseline;
    justify-content: space-between;
    max-height: 60vh;
}

.page-section-large {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-items: baseline;
    justify-content: space-between;
    max-height: 70vh;
}

.parent-type{
    margin-left: 5%;
}

h5{
    font-family: Archivo;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 12px;
    text-transform: uppercase;
}